In [2]:
import pandas as pd 
import matplotlib as plt
import numpy as np
# import pandas.Series 

arr = pd.Series([-2,3,4],index=['a','Vega','c'])
stuff = {'Lee':21,'Vega':20,'Jack':12}
sd = pd.Series(stuff, index = ['Vega','Jack','Altair'])

In [141]:
# * from a [str]List
data = {
	'Province' :['ChangChun','Sichuan','Beijin'],
	'Pop' : [1.2,2.3,0.3],
	'GDP'  : [23,42,52]
}

frame = pd.DataFrame(data,columns=['GDP','Pop','Province','Debt'],index = ['one','two','three'])
debt = pd.Series([-1,-2,-3],index=['one','two','ThRee'])
frame.Debt = debt
# frame.drop(frame.loc[frame['GDP'] < 30].index,inplace=True)
# frame.drop(['Debt','Pop'],axis='columns',inplace=True)
# frame[frame['GDP'] > 30]
# map applies to Series
# apply aplies to each column or row
# applymap applies to each element
# frame.sort_values(by = 'GDP',ascending=False)
# frame['Province'].map(lambda x:x.upper())

# frame.iloc[1,2]
# s = np.arange(4.)
# s = pd.Series(s,index = ['a','b','c','d'])
# s[s < 2]

            GDP       Pop      Debt
count   3.00000  3.000000  2.000000
mean   39.00000  1.266667 -1.500000
std    14.73092  1.001665  0.707107
min    23.00000  0.300000 -2.000000
25%    32.50000  0.750000 -1.750000
50%    42.00000  1.200000 -1.500000
75%    47.00000  1.750000 -1.250000
max    52.00000  2.300000 -1.000000

In [65]:
# *  from 2d array

data1 = [[1,2,3],[4,5,6],[7,8,9]]
frame1 = pd.DataFrame(data1,columns=['a','b','c'],index=['one','two','three'])
frame1

       a  b  c
one    1  2  3
two    4  5  6
three  7  8  9

In [13]:
# * from dict of dict ,similar to dict of list

data2 = {
	'SiChuan' : {'2000':2,'2001':3},
	'JiLin' : {'2000':1,'2001':3},
	'ShangHai' : {'2001':4,'2002':6}
}

frame2 = pd.DataFrame(data2)
idx = frame2.index
idx.insert(0,'1999')
idx2 = frame2.columns
idx2

Index(['SiChuan', 'JiLin', 'ShangHai'], dtype='object')

In [32]:
# data manipulation


d = pd.Series(['0x000000','0x888888','0xffffff'],index = ['R','G','B'])
# d.index = ['B','G','R']
# d
d.reindex(['R','G','X','B'],method = 'bfill')

R    0x000000
G    0x888888
X    0x000000
B    0xffffff
dtype: object

In [128]:

s = pd.Series([0,7,3,0])
s.rank(method='min')

0    1.0
1    4.0
2    3.0
3    1.0
dtype: float64

In [156]:
s = pd.Series(['a','c','c','d','e'])
# pd.Index(['a','c']).get_indexer(s)
s.value_counts()

c    2
a    1
e    1
d    1
dtype: int64

In [18]:
f1 = pd.DataFrame([[1,2,3],[2,3],[4,5,7]])
f1.dropna(how='any',axis=0)
# f1
# f1.notnull().

   0  1    2
0  1  2  3.0
2  4  5  7.0